@media (min-width: 1024px) {
  .sidebar,
  article {
    width: 950px;
    box-shadow: var(--shadow-5);
  }

  main {
    margin-bottom: 60px;
  }
  .main-content {
    position: relative;
    width: max-content;
    margin: auto;
  }
 
  /* NAVBAR */
  .navbar {
    position: absolute;
    bottom: auto;
    top: 0;
    left: auto;
    right: 0;
    width: max-content;
    border-radius: 0 20px;
    padding: 0 20px;
    box-shadow: none;
  }
  .navbar-list {
    gap: 30px;
    padding: 0 20px;
  }
  .navbar-link {
    font-weight: var(--fw-500);
  }

  /* ABOUT */
  .service-list {
    grid-template-columns: 1fr 1fr;
    gap: 20px 25px;
  }

  /* PORTFOLIO */
  .project-list {
    grid-template-columns: repeat(3, 1fr);
  }

}
