/* 450  */
@media (min-width: 450px) {
  .clients-item {
    min-width: calc(33.33% - 10px);
  }
  .project-img,
  .blog-banner-box {
    height: auto;
  }
}

/* 580 */
@media (min-width: 580px) {
  /* #REUSED STYLE */
  .sidebar,
  article {
    width: 520px;
    margin-inline: auto;
    padding: 30px;
  }
  
  .article-title {
    font-weight: var(--fw-600);
    padding-bottom: 15px;
  }
  .article-title::after {
    width: 40px;
    height: 5px;
  }
  .icon-box {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    font-size: 18px;
  }
  /* #MAIN */
  main {
    margin-top: 60px;
    margin-bottom: 100px;
  }

  /* #SIDEBAR */
  .sidebar {
    max-height: 180px;
    margin-bottom: 30px;
  }
  .sidebar.active {
    max-height: 584px;
  }
  .sidebar-info {
    gap: 25px;
  }
  .avatar-box {
    border-radius: 30px;
  }
  .avatar-box img {
    width: 120px;
  }
  .info-content .name {
    margin-bottom: 15px;
  }
  .info-content .title {
    padding: 5px 18px;
  }
  .info_more-btn {
    top: -30px;
    right: -30px;
    padding: 10px 15px;
  }
  .info_more-btn span {
    display: block;
    font-size: var(--fs-8);
  }
  .info_more-btn ion-icon {
    display: none;
  }
  .separator {
    margin: 32px 0;
  }
  .contacts-list {
    gap: 20px;
  }
  .contact-info {
    max-width: calc(100% - 64px);
    width: calc(100% - 64px);
  }

  /* #NAVBAR */
  .navbar {
    border-radius: 20px 20px 0 0;
  }
  .navbar-list {
    gap: 20px;
  }
  .navbar-link {
    --fs-8: 14px;
  }

  /* #ABOUT */
  .about .article-title {
    margin-bottom: 20px;
  }
  .about-text {
    margin-bottom: 40px;
  }

  /* service */
  .service-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;
    padding: 30px;
  }
  .service-icon-box {
    margin-bottom: 0;
    margin-top: 5px;
  }
  .service-content-box {
    text-align: left;
  }

  /* #RESUME */
  .timeline-list {
    margin-left: 65px;
  }
  .timeline-item:not(:last-child)::before {
    left: -40px;
  }
  .timeline-item::after {
    height: 8px;
    width: 8px;
    left: -43px;
  }
  .skills-item:not(:last-child) {
    margin-bottom: 25px;
  }

  /* #PORTFOLIO, BLOG */
  .project-img,
  .blog-banner-box {
    border-radius: 16px;
  }
  .blog-posts-list {
    gap: 30px;
  }
  .blog-content {
    padding: 25px;
  }
}