/*-----------------------------------*\
  #BASE STYLES
\*-----------------------------------*/

@use "variables" as *;

// CSS Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img,
ion-icon,
a,
button,
time,
span {
  display: block;
}

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

input,
textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}

::selection {
  background: $orange-yellow-crayola;
  color: $smoky-black;
}

:focus {
  outline-color: $orange-yellow-crayola;
}

html {
  font-family: $ff-poppins;
}

body {
  background: $smoky-black;
}

// Typography base
.h2,
.h3,
.h4,
.h5 {
  color: $white-2;
  text-transform: capitalize;
}

.h2 {
  font-size: $fs-1;
}

.h3 {
  font-size: $fs-2;
}

.h4 {
  font-size: $fs-4;
}

.h5 {
  font-size: $fs-7;
  font-weight: $fw-500;
}

// Keyframes
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
