/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/

@use "variables" as *;

// Separator
.separator {
  width: 100%;
  height: 1px;
  background: $jet;
  margin: 16px 0;
}

// Icon box
.icon-box {
  position: relative;
  background: $border-gradient-onyx;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: $orange-yellow-crayola;
  box-shadow: $shadow-1;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: $eerie-black-1;
    border-radius: inherit;
    z-index: -1;
  }

  ion-icon {
    --ionicon-stroke-width: 35px;
  }
}

// Article base
article {
  background: $eerie-black-2;
  border: 1px solid $jet;
  border-radius: 20px;
  padding: 15px;
  box-shadow: $shadow-1;
  z-index: 1;
  display: none;

  &.active {
    display: block;
    animation: fade 0.5s ease backwards;
  }
}

// Article title
.article-title {
  position: relative;
  padding-bottom: 7px;
  color: $white-2;
  font-size: $fs-3;
  font-weight: $fw-600;
  text-transform: capitalize;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: $text-gradient-yellow;
    border-radius: 3px;
  }
}

// Scrollbar
.has-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $onyx;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: $orange-yellow-crayola;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-button {
    width: 20px;
  }
}

// Content card
.content-card {
  position: relative;
  background: $border-gradient-onyx;
  padding: 15px;
  padding-top: 45px;
  border-radius: 14px;
  box-shadow: $shadow-2;
  cursor: pointer;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: $bg-gradient-jet;
    border-radius: inherit;
    z-index: -1;
  }
}

// Navbar
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: hsla(240, 1%, 17%, 0.75);
  backdrop-filter: blur(10px);
  border: 1px solid $jet;
  border-radius: 12px 12px 0 0;
  box-shadow: $shadow-2;
  z-index: 5;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.navbar-link {
  color: $light-gray;
  font-size: $fs-8;
  padding: 20px 7px;
  transition: color $transition-1;

  &:hover,
  &.active {
    color: $orange-yellow-crayola;
  }
}

// Clients list
.clients {
  margin-bottom: 15px;
}

.clients-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin: 0 -15px;
  padding: 25px 15px;
  padding-bottom: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}

.clients-item {
  min-width: calc(50% - 10px);
  scroll-snap-align: start;

  img {
    width: 100%;
    filter: grayscale(1);
    transition: $transition-1;

    &:hover {
      filter: grayscale(0);
    }
  }
}

// Skills progress
.skill-progress-bg {
  background: $jet;
  width: 100%;
  height: 8px;
  border-radius: 10px;
}

.skill-progress-fill {
  background: $text-gradient-yellow;
  height: 100%;
  border-radius: inherit;
}

// Form components
.form-input {
  color: $white-2;
  font-size: $fs-6;
  font-weight: $fw-400;
  padding: 13px 20px;
  border: 1px solid $jet;
  border-radius: 14px;
  outline: none;

  &::placeholder {
    font-weight: $fw-500;
  }

  &:focus {
    border-color: $orange-yellow-crayola;
  }

  &:focus:invalid {
    border-color: $bittersweet-shimmer;
  }
}

textarea.form-input {
  min-height: 120px;
  height: 120px;
  max-height: 200px;
  resize: vertical;
  margin-bottom: 25px;

  &::-webkit-resizer {
    display: none;
  }
}

.form-btn {
  position: relative;
  width: 100%;
  background: $border-gradient-onyx;
  color: $orange-yellow-crayola;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 20px;
  border-radius: 14px;
  font-size: $fs-6;
  text-transform: capitalize;
  box-shadow: $shadow-3;
  z-index: 1;
  transition: $transition-1;

  &::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: $bg-gradient-jet;
    border-radius: inherit;
    z-index: -1;
    transition: $transition-1;
  }

  ion-icon {
    font-size: 16px;
  }

  &:hover {
    background: $bg-gradient-yellow-1;

    &::before {
      background: $bg-gradient-yellow-2;
    }
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;

    &:hover {
      background: $border-gradient-onyx;

      &::before {
        background: $bg-gradient-jet;
      }
    }
  }
}

// Filter components
.filter-select-box {
  position: relative;
  margin-bottom: 25px;
}

.filter-select {
  background: $eerie-black-2;
  color: $light-gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid $jet;
  border-radius: 14px;
  font-size: $fs-6;
  font-weight: $fw-400;

  &.active .select-icon {
    transform: rotate(0.5turn);
  }
}

.select-list {
  background: $eerie-black-2;
  position: absolute;
  top: calc(100% + 6px);
  width: 100%;
  padding: 6px;
  border: 1px solid $jet;
  border-radius: 14px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.15s ease-in-out;

  .filter-select.active + & {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.select-item button {
  background: $eerie-black-2;
  color: $light-gray;
  font-size: $fs-6;
  font-weight: $fw-400;
  text-transform: capitalize;
  width: 100%;
  padding: 8px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: $transition-1;

  &:hover {
    --eerie-black-2: hsl(240, 2%, 20%);
  }
}
